
/* Set height of body and the document to 100% */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color:#DC582A;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Home {background-color: #4CB4E7;}
#Project {background-color: #4CB4E7;}
#Data {background-color: #4CB4E7;}
#Help {background-color: #4CB4E7;}
</style>

/* //////////////////  POPUP FORM SYLING  /////////////////////// */
/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) 
*/
.popup .popuptext 
{
  visibility: hidden;
  width: 
160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;

    
margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";

    position: absolute;
  
top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;

    border-color: #555 transparent 
transparent transparent;
}

/* 
Toggle this class when clicking on the popup container (hide and show the 
popup) */
.popup .show {
  
visibility: visible;
  -webkit-animation: 
fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */

@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}


@keyframes fadeIn {
  from {opacity: 0;}
  
to {opacity:1 ;}
} 
